.button {
  cursor: pointer;

  &:disabled {
    opacity: 0.8;
    pointer-events: none;
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.outline {
  padding: 4px 6px;
  border: 1px solid var(--bg-color);
  background: transparent;
  outline: none;
  border-radius: 10px;
  color: var(--bg-color);
}
