.app-light-theme {
  --bg-color: #cecece;
  --inverted-bg-color: #090949;
  --primary-color: #001f81;
  --secondary-color: #0449e0;
  --inverted-primary-color: #049604;
  --inverted-secondary-color: #04ff04;
}
